# ──────────────────────────────
# Business Central AL Extension
# ──────────────────────────────

# VS Code workspace settings
.vscode/
.deleted/

# Build and dependency folders
.alpackages/
.alcache/
output/

# AL compiled packages (NEVER commit)
*.app
*.zip
*.vsix

# Project temporary files
*.snap
*.bak
*.tmp
*.log

# Ignore project-level junk
.ignore/
.pi/
*.code-workspace

# System files
Thumbs.db
.DS_Store

# Windows, macOS junk
*.lnk
Icon?
ehthumbs.db
